@model MailTax.Models.Expense

@{
    ViewData["Title"] = "Create";
}

<div>
<h1>Add Expense</h1>

<hr/>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="SupplierName"  asp-items="ViewBag.SupplierName">
                    <option value="" disabled selected>Choose a Supplier</option>
                </select>
                <a href="https://localhost:7035/Suppliers/Create" >Add New Supplier</a>
                <input asp-for="ExpenseDate"/>
                <span asp-validation-for="ExpenseDate"></span>
                <input asp-for="ExpenseAmmount" placeholder="Total"/>
                <span asp-validation-for="ExpenseAmmount"></span>
                <input asp-for="ExpenseDescription" placeholder="More Info..." />
                <span asp-validation-for="ExpenseDescription"></span>
                <button type="submit" value="Create">Add Expense</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    
body {
      background-color: #DCF0F2;
      font-family: trebuchet ms; 
      font-size: 100%;
      text-align: center;
      color: #436573; 
}

form {
    width: 16rem;
    display: inline-block;
}

a:link {
    text-decoration-line: none; 
    color: #436573;
    display: inline-block;
    margin: .5rem;
    padding: .5rem;

}

a:visited {
    text-decoration-line: none;
    color: #436573; 
    display: inline-block
}

a:hover {
    text-decoration-line: none;
    color: #ffffff;
    display: inline-block
}

button  {
    background-color: #436573;
    color: #DCF0F2;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Trebuchet MS';
}

button:hover {
    background-color: #ffffff;
    color: #436573;
}

input {
    border:none;
    border-radius: 1rem;
    color: #436573;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

textarea:focus , input:focus{
    outline: #ffffff;
    color: #436573;
    background-color: #DCF0F2;
    font-family: 'Trebuchet MS';
}

select {

    border: transparent;
    border-radius: .5rem;
    color: #436573;
    width: 12rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: -1rem;
    text-align: center;
}

</style>